{% extends 'base.html' %}
{% block title %}User Information Page{% endblock %}
{% block content %}
    <div class="container p-2 d-flex gap-3" style="min-height: 100vh">
        <div class="w-75 card p-5 gap-5 d-flex justify-content-start align-items-center flex-wrap">
            {% for product in carts %}
                <div class="card p-3" style="max-width: max-content">
                    <img src="{{ product.product.img.url }}" class="card-img-top" style="object-fit: cover"/>
                    <h3 class="card-title">{{ product.product.name }}</h3>
                    <p class="card-text">{{ product.product.description }}</p>
                    <div class="d-inline">
                        <h3 class="badge" style="color:black">Price :</h3>
                        <h4 class="badge bg-secondary text-decoration-line-through">{{ product.product.price_original }}$</h4>
                        <span class="badge bg-danger">{{ product.product.offer }}%off</span>
                        <h4 class="badge bg-primary">{{ product.product.price_buy }}$</h4>
                    </div>
                    <div class="w-100 p-2">
                        <a href="{% url 'products:product_view'  product.product.pk %}" class="btn btn-warning">more
                            info</a>
                        <form method="post" action="{% url 'products:add_cart_view' product.product.pk 1 %}"
                              class="d-flex p-1 gap-2 form">
                            {% csrf_token %}
                            <input type="number" id='quantity' class="form-control" value="{{ product.quantity }}" style="height: 40px"/>
                            <button type="submit" class="btn btn-success" id="submit"
                                    style="min-width: max-content">update cart
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <a href="#" class="btn btn-outline-primary disabled" style="min-width: 200px">pay</a>
        </div>
        <aside class="w-25 h-100 card p-5 d-flex flex-column justify-content-start align-items-center gap-3">
            <h3>
                DashBoard User
            </h3>
            <img src="{{ profile.img.url }}" class="rounded-circle p-1 bg-primary" width="110"/>
            <div class="card bg-primary w-100 p-3" style="color: white">
                <div class="d-inline">
                    <h4 class="badge bg-black">username</h4>
                    <span>:</span>
                    <span>@{{ profile.user.username }}</span>
                </div>
                <div class="d-inline">
                    <h4 class="badge bg-danger">email</h4>
                    <span>:</span>
                    <span>{{ profile.user.email }}</span>
                </div>
                {% if profile.user.firstname or profile.user.lastname %}
                    <div class="d-inline">
                        <h4 class="badge bg-warning">full name</h4>
                        <span>:</span>
                        <span>{{ profile.user.firstname }} {{ profile.user.lastname }}</span>
                    </div>
                {% endif %}
                <div class="d-inline">
                    <h4 class="badge bg-success">number of buy</h4>
                    <span>:</span>
                    <span>{{ profile.number_buy }}</span>
                </div>
            </div>
            <h3>Panel Buttons</h3>
            <div class="btn-group-vertical w-100" role="group" aria-label="Vertical radio toggle button group">
                <a href="{% url "accounts:profile_accounts" %}" class="btn btn-primary">User Information</a>
                <a href="#" class="btn btn-primary">Cart</a>
            </div>
        </aside>
    </div>
{% endblock %}