{% extends 'base.html' %}
{% block title %}Register Form{% endblock %}
{% block content %}
    <div style="height: 100vh" class="d-flex justify-content-center align-items-center">
        <div class="w-50">
            <h1>Register Form Website</h1>
            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign Up
                        </button>
                        <a href="{% url 'accounts:login_form_accounts' %}"
                           class="btn btn-outline-primary btn-block mb-4">Sign In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}