<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" dir="rtl">
        <a class="navbar-brand" href="{% url "products:products_list" %}">ShopWebsite</a>
        <ul class="navbar-nav d-flex flex-row justify-content-start align-items-center gap-5" dir="ltr">
            <li class="nav-item dropdown w-auto p-1">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {% if user.is_authenticated %}@
                        {{ user.username }}{% else %}Guest{% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url "accounts:profile_accounts" %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "products:search_view" %}">Search</a>
            </li>
        </ul>
    </div>
</nav>