{% extends 'base.html' %}
{% load static %}
{% block title %}Products Landding{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'swiper.css' %}">
{% endblock %}
{% block content %}
    <div class="container d-block p-5" style="min-height: 100vh">
        {% for cat in category %}
            <div class="w-100 bg-white rounded p-2 h-auto" style="color: black">
                <h2>{{ cat.name }}</h2>
                <swiper-container class="mySwiper h-auto" pagination="true" pagination-clickable="true"
                                  space-between="30"
                                  slides-per-view="3">
                    {% for product in products %}
                        {% if product.category.name == cat.name %}
                            <swiper-slide class="card p-3">
                                <img src="{{ product.img.url }}" class="card-img w-100"/>
                                <h3 class="card-title">{{ product.name }}</h3>
                                <p class="card-text">{{ product.description }}</p>
                                <div class="d-inline">
                                    <h3 class="badge" style="color:black">Price :</h3>
                                    <h4 class="badge bg-secondary text-decoration-line-through">{{ product.price_original }}$</h4>
                                    <span class="badge bg-danger">{{ product.offer }}% Off</span>
                                    <h4 class="badge bg-primary">{{ product.price_buy }}$</h4>
                                </div>
                                <div class="btn-group w-100">
                                    <a href="#" class="btn btn-warning">more info</a>
                                    <a href="#" class="btn btn-success">add to cart</a>
                                </div>
                            </swiper-slide>
                        {% endif %}
                    {% endfor %}
                </swiper-container>
            </div>
        {% endfor %}
    </div>
{% endblock %}