{% extends 'base.html' %}
{% load static %}
{% block title %}Product {{ product.name }}{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'swiper.css' %}">
{% endblock %}
{% block content %}
    <div class="row gap-3 p-5">
        <div class="bg-white rounded p-3 w-auto">
            <img src="{{ product.img.url }}" class="rounded" style="width: 18rem"/>
        </div>
        <div class="col w-75 bg-white rounded d-flex flex-column justify-content-start align-items- gap-3 p-3">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <div class="d-inline w-100">
                <span class="h4"><strong>Original Price:</strong></span>
                <h4 class="badge bg-secondary" style="font-size: 16px">{{ product.price_original }}$</h4>
            </div>
            <div class="d-inline w-100">
                <span class="font-weight-bold h4"><strong>Offer:</strong></span>
                <span class="badge bg-danger" style="font-size: 16px">{{ product.offer }}%</span>
            </div>
            <div class="d-inline w-100">
                <span class="font-weight-bold h4"><strong>New Price:</strong></span>
                <span class="badge bg-primary" style="font-size: 16px">{{ product.price_buy }}$</span>
            </div>
            <div class="d-inline">
                <a href="#" class="btn btn-success">add to cart</a>
            </div>
        </div>
    </div>
{% endblock %}